.div1{
    width: 100px;
    height: 100px;
    padding: 30px;
    margin: 10px;
    text-align: center;
    background-color: grey;
    position: absolute; /*relative, fixed, sticky, static*/
    z-index: 12;

}

.div2 {
    width: 100px;
    height: 30px;
    background-color: yellow;
    margin-top: 10px;
    margin-left: 30px;
    position: absolute;
    z-index: 13;
}

h1{ 
    position:absolute;
    z-index: 13;
    /* z-index: 14; */
}

img {
    position: relative;
    height: 50px;
    width: 50px;
    /* offset: path('M 50 80 C 150 -20 250 180 350 80') 45deg; */
    offset-path: ray(45deg);
}

@keyframes move {
    from {
      offset-distance: 0%;
    }
  
    to {
      offset-distance: 70%;
    }
  }
  
  #offsetElement {
    width: 50px;
    height: 50px;
    background-color: blue;
    offset: path("M 100 100 L 1200 100 L 200 300 z") auto;
    animation: move 3s linear infinite;
  }

  #flex-container {
    display: flex;
    font-family: Consolas, Arial, sans-serif;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
  }
  
  #flex-container > div {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
  
  #flex-auto {
    flex: 10;
    border: 1px solid #f00;
    align-content: center;
  }
  
  #flex-initial {
    flex: 4;
    border: 1px solid #000;
    align-content: center;
  }

  #flex-second {
    flex: 20;
    border: 1px solid blue;
    align-content: center;
  }

/* offset-path, offset-distance, offset-rotate */
